.sponser{
    background-image: url(sp.jpg);
    height: 92vh;
}
.sponser-title{
    padding-top: 4%;
    color: white;
    text-align: center;
    font-size: 3em;
}
.sponser-body{
 
    padding-left: 4%;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(0,0,0);
}
.navigation{
    margin-left:60% ;
    font-size: 1.5em;
}
a{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.navbar-content{
    color:white;
}
.navbar-content:hover{
    color:white;
    text-decoration: none;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    }
.kgp{
    height: 6vh;
    position: absolute;
    top: 5%;
    cursor: pointer;
}
.sf{
    height: 6vh;
    position: absolute;
    left: 5%;
    cursor: pointer;
    top: 5%;
}

.sp{
    width: 20%;
    margin-left: 9%;
}
.b{
    width: 20%;
    height: 15%;
}
.a{
    /* display: none; */
    width: 13%;
    height: 10%;
    margin-left: 25%;
}
.c{
    width: 18%;
    margin-left: 15%;
}
@media screen and (max-width: 1000px){
    .sponser{
        height: 120vh;
    }
    .sponser-title{
        font-size: 5em;
    }
    .sponser-body{
        width: 100%;
    }
    .sp{
        width: 60%;
        height: 20%;
        margin-left: 20%;
    }
    .a{
        width: 50%;
        margin-left:25% ;
    }
    .c{
        width: 60%;
        margin-left: 20%;
        margin-top: 8%;
    }
}